%br
- @users.each do |user|
  %br
  %ul.wat-cf
    %li
      %a
        =link_to "#{user.email}", '#'
    %li
      %a
        =link_to "navigation", "events/navigation/#{user.id}"
    %li
      %a
        =link_to "user sign in", "events/user_sign_in/#{user.id}"
    %li
      %a
        =link_to "user sign out", "events/user_sign_out/#{user.id}"
    %li
      %a
        =link_to "likes", "events/likes/#{user.id}"
    %li
      %a
        =link_to "comments", "events/comments/#{user.id}"